<?xml version="1.0" ?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="AzureBlog Storage">
            <directory suffix="Test.php">tests/Beberlei</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>lib/Beberlei</directory>
        </whitelist>
    </filter>

    <php>
        <!-- Beware: Testing against a real Azure account can require you to pay the transation costs -->
        <var name="AZURESTORAGE_HOST" value="" />
        <var name="AZURESTORAGE_ACCOUNT" value="" />
        <var name="AZURESTORAGE_KEY" value="" />
    </php>
</phpunit>

